<!-- SPDX-License-Identifier: Apache-2.0 -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eatformation System Version 0.8</title>
    <link rel="icon" href="favicon.png" type="image/gif">

    <!-- require jquery and bootstrap scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    
    <!-- adding style here -->
    <style type="text/css">
      header{
        background-color: lightgray;
        font-size:20px;
        padding:15px;
      }
      header, .form-group{
        margin-bottom: 3%;
      }
      .form-group{
        width:50%;
      }
      #body{
        margin-left:3%;
        margin-right:3%;
      }
      .form-control{
        margin: 8px;
      }
      #right_header{
        width:20%;
        font-size:15px;
        margin-right:0px;
      }
      #left_header{
        margin-left:0;
        width:40%;
        display:inline-block;
      } 
      #id {
        width:49%;
        display: inline-block;
      }
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
		  }j
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }
      tr:nth-child(even) {
          background-color: #dddddd;
      }
	  .outer-div{
	  	border: 2px solid #888888;
		padding: 3px 1px 20px 1px;
		margin-bottom: 50px;
	  }
    </style>
  </head>
  <body ng-app="application" ng-controller="appController">
    <header>
      <div id="left_header">Eatformation Traceability System 0.8</div>
      <i id="right_header">With Hyperledger Fabric</i>
    </header>

    <div id="body">
      <div class="outer-div">
        <div class="form-group">
          <label>모든 소고기 정보</label>
          <p><input id="queryAllCattle" type="submit" value="Query" class="btn btn-primary" ng-click="queryAllCattle()"></p>
        </div>

        <table id="all_cattle" class="table" align="center">
          <tr>
            <th>이력번호</th>
            <th>농장주</th>
            <th>개체식별번호</th>
            <th>출생년월일</th>
            <th>개체 종류</th>
          </tr>

          <tr ng-repeat="cattle in all_cattle">
            <td>{{cattle.Key}}</td>
            <td>{{cattle.farmInfo[0].farmerNm}}</td>
            <td>{{cattle.cattleNo}}</td>
            <td>{{cattle.birthYmd}}</td>
            <td>{{cattle.lsTypeNm}}</td>
          </tr>
        </table>
      </div>  
	  
      <div class="outer-div">  
        <div class="form-group">
          <label>이력 번호로 조회</label><br>
          <h5 style="color:red;margin-bottom:2%" id="error_query">에러: 이력 번호(12자리)가 잘못 입력되었습니다.</h5>
        
          Enter a catch number: <input id="createName" class="form-control" type="text" placeholder="Ex: 002021864077" ng-model="trace_id">
          <input id="queryCattle" type="submit" value="Query" class="btn btn-primary" ng-click="queryCattle()">
        </div>

        <table id="query_cattle" class="table" align="center">
          <tr>
            <th colspan="4">사육정보</th>
          </tr>
          <tr>
            <th>이력번호</th>
            <th>출생년월일</th>
            <th>소의 종류</th>
            <th>성별</th>
          </tr>
          <tr>
            <td>{{query_cattle.traceId}}</td>
            <td>{{query_cattle.birthYmd}}</td>
            <td>{{query_cattle.lsTypeNm}}</td>
            <td>{{query_cattle.sexNm}}</td>
          </tr>
        </table>

        <table id="query_cattle" class="table" align="center">
          <tr>
            <th colspan="4">소 출생 등 신고 정보</th>
          </tr>
          <tr>
            <th>소유주</th>
            <th>신고구분</th>
            <th>년월일</th>
            <th>사육지</th>
          </tr>
          <tr>
            <td>{{query_cattle.farmInfo[0].farmerNm}}</td>
            <td>{{query_cattle.farmInfo[0].regType}}</td>
            <td>{{query_cattle.farmInfo[0].regYmd}}</td>
            <td>{{query_cattle.farmInfo[0].farmAddr}}</td>
          </tr>
        </table>
	    
        <table id="query_cattle" class="table" align="center">
          <tr>
            <th colspan="6">도축 처리 정보</th>
          </tr>
          <tr>
            <th>도축장</th>
            <th>도축일자</th>
            <th>도축검사결과</th>
            <th>도체중</th>
            <th>육질등급</th>
            <th>도축처리업소</th>
          </tr>
          <tr>
            <td>{{query_cattle.butcheryInfo.butcheryPlaceNm}}</td>
            <td>{{query_cattle.butcheryInfo.butcheryYmd}}</td>
            <td>{{query_cattle.butcheryInfo.inspectPassYn}}</td>
            <td>{{query_cattle.butcheryInfo.butcheryWeight}}</td>
            <td>{{query_cattle.butcheryInfo.gradeNm}}</td>
            <td>{{query_cattle.butcheryInfo.processPlaceNm}}</td>
          </tr>
        </table>
		
        <table id="all_process_info" class="table" align="center">
          <tr>
            <th colspan="5">포장 처리 정보</th>
          </tr>
          <tr>
            <th>포장회사</th>
            <th>포장회사주소</th>
            <th>포장부위</th>
            <th>포장단위(g)</th>
            <th>포장일자</th>
          </tr>
          <tr ng-repeat="process_info in all_process_info">
            <td>{{process_info.processPlaceNm}}</td>
            <td>{{process_info.processPlaceAddr}}</td>
            <td>{{process_info.processPart}}</td>
            <td>{{process_info.processWeight}}</td>
            <td>{{process_info.processYmd}}</td>
          </tr>
        </table>
	    
        <table id="query_cattle" class="table" align="center">
          <tr>
            <th colspan="6">구제역 백신접종 및 가축질병 검사 정보</th>
          </tr>
          <tr>
            <th>구제역 예방접종최종일자</th>
            <th>브루셀라 검사최종일자</th>
            <th>브루셀라 검사결과</th>
            <th>결핵 검사최종일자</th>
            <th>결핵 검사결과</th>
          </tr>
          <tr>
            <td>{{query_cattle.footAndMouth[0].injectionYmd}}</td>
            <td>{{query_cattle.brucelliasis[0].injectionYmd}}</td>
            <td>{{query_cattle.brucelliasis[0].injectionResult}}</td>
            <td>{{query_cattle.tuberculosis[0].injectionYmd}}</td>
            <td>{{query_cattle.tuberculosis[0].injectionResult}}</td>
          </tr>
        </table>
      </div>

      <div class="outer-div">
        <div class="form-group">
          <label>이력 번호 생성 (소 등록)</label>
          <h5 style="color:green;margin-bottom:2%" id="success_register">Success! Tx ID: {{register_cattle}}</h5>
          <br>
          이력번호: <input class="form-control" type="text" placeholder="Ex: 104021864078" ng-model="cattle.traceId">
          <!--
          농장식별번호: <input class="form-control" type="text" placeholder="Ex: 0239L" ng-model="cow.farm_id">
          개체식별번호: <input id="createName" class="form-control" type="text" placeholder="Ex: 28.012" ng-model="cow.cow_id"> 
          -->
          출생년월일: <input id="createName" class="form-control" type="text" placeholder="Ex: 20121012" ng-model="cattle.birthYmd">
          소의 종류: <input class="form-control" type="text" placeholder="Ex: 한우, 수입" ng-model="cattle.lsTypeNm">
          성별: <input class="form-control" type="text" placeholder="Ex: 거세, 숫소, 암소" ng-model="cattle.sexNm">
          소유주: <input class="form-control" type="text" placeholder="Ex: 홍길동" ng-model="cattle.farmerNm">
          신고구분: <input class="form-control" type="text" placeholder="Ex: 전산등록, 양수, 출하" ng-model="cattle.regType">
          년월일: <input class="form-control" type="text" placeholder="Ex: 20130103" ng-model="cattle.regYmd">
          사육지 주소: <input class="form-control" type="text" placeholder="Ex: 경기도 양주시 만송통" ng-model="cattle.farmAddr">
          <input id="registerSubmit" type="submit" value="Create" class="btn btn-primary" ng-click="registerCattle()"> 
        </div>
      </div>
	  
      <div class="outer-div">
        <div class="form-group">
          <label>도축 정보 등록</label>
          <h5 style="color:green;margin-bottom:2%" id="success_update_butchery">Success! Tx ID: {{update_butchery}}</h5>
          <br>
          이력번호: <input class="form-control" type="text" placeholder="Ex: 104021864078" ng-model="butchery_info.traceId">
          도축장: <input class="form-control" type="text" placeholder="Ex: 우림축산 (경기도 동두천시 동두천동)" ng-model="butchery_info.butcheryPlaceNm">
          도축일자: <input class="form-control" type="text" placeholder="Ex: 20090611" ng-model="butchery_info.butcheryYmd">
          도축검사결과: <input class="form-control" type="text" placeholder="Ex: 합격, 불합격" ng-model="butchery_info.inspectPassYn"> 
          도체중: <input class="form-control" type="text" placeholder="Ex: 409" ng-model="butchery_info.butcheryWeight">
          육질등급: <input class="form-control" type="text" placeholder="Ex: 1++, 1+, 1, 2" ng-model="butchery_info.gradeNm">
          도축처리업소: <input class="form-control" type="text" placeholder="Ex: 양주축협가공공장 (경기도 양주시 고읍동)" ng-model="butchery_info.processPlaceNm">
          <input id="butcherySubmit" type="submit" value="Create" class="btn btn-primary" ng-click="updateButcheryInfo()"> 
        </div>
      </div>
	
      <div class="outer-div">
        <div class="form-group">
          <label>포장 정보 등록</label>
          <h5 style="color:green;margin-bottom:2%" id="success_update_process">Success! Tx ID: {{update_process}}</h5>
          <br>
          이력번호: <input class="form-control" type="text" placeholder="Ex: 104021864078" ng-model="process_info.traceId">
          포장회사: <input class="form-control" type="text" placeholder="Ex: 우림축산 (경기도 동두천시 동두천동)" ng-model="process_info.processPlaceNm">
          포장회사주소: <input class="form-control" type="text" placeholder="Ex: 경기도 양주시 고읍동" ng-model="process_info.processPlaceAddr">
          포장부위: <input class="form-control" type="text" placeholder="Ex: 안심, 등심, 채끝살 등등" ng-model="process_info.processPart">
          포장단위(g): <input class="form-control" type="text" placeholder="Ex: 1000" ng-model="process_info.processWeight"> 
          포장일자: <input id="createName" class="form-control" type="text" placeholder="Ex: 20140304" ng-model="process_info.processYmd">
          <input id="processSubmit" type="submit" value="Create" class="btn btn-primary" ng-click="updateProcessInfo()"> 
        </div>
      </div>
    </div>
  </body>
  <!-- requiring the angular page -->
  <script type="text/javascript" src="app.js"> </script>
</html>
